name: Test, bygg, deploy
on:
  push:
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * 1' # bygg nytt image hver mandag morgen


jobs:
  build:
    name: Bygg
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    services:
      valkey:
        image: valkey/valkey:8-alpine
        ports:
          - 6379:6379
        options: >-
          --health-cmd "valkey-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21
          cache: maven

      - run: mvn -B package

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ github.sha }}.bom.json
          path: target/bom.json

      - uses: nais/docker-build-push@v0
        id: gar-push
        with:
          team: fager
          tag: ${{ github.sha }}

    outputs:
      image: ${{ steps.gar-push.outputs.image }}

  deploy-dev:
    if: github.ref == 'refs/heads/main' && (github.event_name == 'push' || github.event_name == 'workflow_dispatch')
    needs: [ build ]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v2
        name: Deploy dev-gcp
        env:
          VAR: image=${{ needs.build.outputs.image }}
          RESOURCE: nais/dev-gcp-altinn-tilganger.yaml
          CLUSTER: dev-gcp

  deploy-prod:
    if: github.ref == 'refs/heads/main' && (github.event_name == 'push' || github.event_name == 'workflow_dispatch')
    needs: [ build ]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v2
        name: Deploy prod-gcp
        env:
          VAR: image=${{ needs.build.outputs.image }}
          RESOURCE: nais/prod-gcp-altinn-tilganger.yaml
          CLUSTER: prod-gcp
